# PolarFrankie files
*.frankie linguist-language=polarfrankie

# C++
*.cpp linguist-language=cpp
*.hpp linguist-language=cpp

# C
*.c linguist-language=c
*.h linguist-language=c


# ANTLR4 (TMP)
transpiler/source/old-ANTLR4/* linguist-documentation
