# PolarFrankie files
*.frankie linguist-language=polarfrankie

# C++
*.cpp linguist-language=cpp
*.hpp linguist-language=cpp

# C
*.c linguist-language=c
*.h linguist-language=c

# Handle line endings
CMakeLists.txt eol=lf
*.diff eol=lf
